.container {
}

.header {
  display: flex;
  justify-content: space-between;
}

.borderDashed {
  border: 4px dashed #000000;
  border-radius: 10px;
}

.card {
  margin-top: 103px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.features {
  margin-top: 111px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuresText {
  width: 80%;
}

.featuresItem {
  margin-top: 52px;
}

.line {
  margin-bottom: 69px;
  margin-top: 69px;
  border: 2px dashed #000000;
}

.lastContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.borderLast {
  width: 100%;
  position: absolute;
  height: 60%;
  border: 2px dashed #000000;
  border-radius: 10px;
}

.footer {
  background-color: #fe7624;
  color: #f2f2f2;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .textMobile {
    text-align: center;
  }

  .borderLast {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
